@font-face {
    font-family: Inter;
    src:
        url("../fonts/Inter-Regular.ttf") format("truetype"),
        url("../fonts/Inter-Light.ttf") format("truetype"),
        url("../fonts/Inter-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    font-size: 14px;
    color: #333;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 71px;
    padding: 0 16px;
    justify-content: space-between;
    background: white;
    z-index: 11;
}

.logo-link {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    width: 194px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.pro-status,
.notifications,
.messages,
.link-block::before {
    position: relative;
    cursor: pointer;
    background-image: url("../assets/icons.svg");
}

.pro-status {
    width: 27px;
    height: 27px;
    background-size: 552px;
    background-position: -157.5px -43.5px;
}

.notifications {
    width: 22px;
    height: 27px;
    background-size: 562px;
    background-position: -14.5px -46.5px;
}

.messages {
    width: 28px;
    height: 27px;
    background-size: 566px;
    background-position: -65px -46px;
}

.description {
    position: absolute;
    display: none;
    opacity: 0;
    padding: 10px 0px;
    min-width: 120px;
    font-size: 14px;
    margin-top: 36px;
    color: #333;
    text-align: center;
    background-color: #fffdf6;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 1px #888;
    transform: translateX(-50%);
    left: 50%;
    z-index: -9999;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f4f6f9;
    border: 1px solid #bcc1cc;
}

.category-type {
    font-size: 18px;
    line-height: 20px;
}

.category .description {
    min-width: 250px;
}

.pro-status:hover > .description,
.notifications:hover > .description,
.messages:hover > .description,
.category:hover > .description {
    display: block;
    opacity: 1;
    z-index: 9999;
}

.account-avatar {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 9999;
}

.account {
    position: relative;
}

.account:hover::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 58px;
    border: 1px solid #eee;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 9998;
    background-color: #fff;
}

.account:hover .account-dropdown {
    display: block;
}

.account-dropdown {
    display: none;
    position: absolute;
    min-width: 165px;
    padding: 15px;
    top: 52px;
    right: -8px;
    color: #333;
    text-align: end;
    font-size: 14px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    z-index: 9997;
}

.account-name {
    font-weight: bold;
    margin-bottom: 13px;
}

.account-dropdown a:hover {
    color: gray;
}

.link {
    display: block;
    margin-bottom: 13px;
    color: #333;
    text-decoration: none;
}

.link:last-child {
    margin-bottom: 0;
}

.link:hover {
    color: gray;
}

.sidebar {
    position: fixed;
    width: 71px;
    top: 71px;
    height: 100%;
    background-color: #f6f7f9;
    transition: all 0.1s ease 0s;
    text-wrap: nowrap;
    z-index: 10;
    box-shadow: 2px 0 11px #0202021c;
}

.sidebar:hover {
    width: 255px;
}

.sidebar:hover > .nav-sections > .section > .link-block > .link {
    display: block;
}

.section {
    position: relative;
    height: 49px;
    margin-left: 27px;
    padding-top: 13px;
    padding-left: 36px;
}

.section > .link-block > .link {
    display: none;
}

.section > .link-block::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.books > .link-block::before {
    width: 19px;
    height: 19px;
    background-size: 420px;
    background-position: -9px -10px;
}

.courses > .link-block::before {
    width: 19px;
    height: 18px;
    background-size: 440px;
    background-position: -31px -11px;
}

.tests > .link-block::before {
    width: 19px;
    height: 23px;
    background-size: 430px;
    background-position: -51px -7px;
}

.practical-courses > .link-block::before {
    width: 19px;
    height: 23px;
    background-size: 440px;
    background-position: -100px -7px;
}

.section:first-child {
    margin-top: 7px;
}

.link-block > .link::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 6px;
    height: 6px;
    color: #333;
    transform: rotate(45deg) translateZ(0) translateY(-50%);
    border-style: solid;
    border-width: 1px 1px 0 0;
    transition: all 0.5s ease 1s;
}

.sidebar:hover > .nav-sections > .section > .link-block > .link::after {
    opacity: 1;
}

.bold {
    font-weight: bold;
}

.section-dropdown {
    display: none;
    position: absolute;
    margin-top: -43px;
    left: 228px;
    width: 205px;
    background-color: #f6f7f9;
    box-shadow: 2px 2px 11px #0202021c;
    padding: 20px 15px 22px 25px;
    text-wrap: wrap;
}

.section:hover > .section-dropdown {
    display: block;
}

.top-menu {
    display: flex;
    position: fixed;
    top: 71px;
    width: 100%;
    height: 39px;
    padding-left: 71px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6f7f9;
    list-style-type: none;
    z-index: 9;
}

.top-menu .selected {
    font-size: 16px;
    font-weight: bold;
}

.container {
    padding-top: 71px;
    padding-left: 71px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.test-sections {
    padding-top: 70px;
    padding-left: 30px;
}

.test-section {
    display: flex;
    width: 100%;
    gap: 20px;
}

.test-info-block {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #b9c2cb;
    background-color: #fff;
    cursor: pointer;
}

.test-progress-block {
    opacity: 1;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
    background-color: #eff0f3;
    transition: all 0.3s ease;
}

.test-info {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.test-progress-text {
    transition: all 0.3s ease;
}

.additional-info-block {
    max-height: 500px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    position: relative;
    transition: all 0.3s ease;
}

.additional-info-block p {
    margin: 10px 0;
}

.additional-info-block a {
    display: inline;
}

.underline {
    text-decoration: underline;
}

.btn {
    position: relative;
    flex-shrink: 0;
    min-width: 40px;
    max-height: 40px;
    cursor: pointer;
    text-align: center;
    color: #333;
    border: 1px solid #b9c2cb;
    border-radius: 3px;
    margin-bottom: 6px;
    background-color: #fff;
}

.btn:hover {
    background-color: #f4f4f4;
}

.btn-start {
    width: 80px;
}

.triangle {
    position: relative;
}

.triangle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left: 10px solid #666;
}

.btn-ver-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-dialog {
    width: 100%;
    margin: 0;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #bdc1cd;
    border-radius: 10px;
    box-shadow: 0 1px 1px #bdc1cd;
    transition: background-color 0.3s ease-out;
}

.btn-block {
    display: flex;
}

.btn-block > .btn {
    border-radius: 0;
}

.btn-block > .btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-block > .btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-width: 0;
}

.btn-questions::after,
.btn-answers::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/sections-icons.svg");
}

.btn-questions::after {
    width: 23px;
    height: 18px;
    background-size: 53px 37px;
    background-position: -6px 18px;
}

.btn-questions.active::after {
    background-position: -6px 0;
}

.btn-answers::after {
    width: 22px;
    height: 23px;
    background-image: url("../assets/sections-icons.svg");
    background-size: 80px 70px;
    background-position: 23px -4px;
}

.btn-answers.active::after {
    height: 30px;
    background-position: 23px -34px;
}

.active {
    background-color: #eff0f3;
}

.collapsed {
    max-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
}

.hidden {
    opacity: 0;
}

.title {
    text-align: center;
    margin: 8px;
    font-size: 18px;
}

.timers {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.timer {
    display: flex;
    align-items: start;
}

.timer-title {
    margin-top: 10px;
    margin-right: 4px;
}

.timer-text {
    font-size: 24px;
}

.test-config-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.scroll-section {
    display: flex;
    width: calc(100% - 240px);
}

.scrollbar {
    width: calc(100% - 240px);
    height: 2px;
    margin: 10px 0px 10px 0px;
    background: #d2d7e2;
    line-height: 0;
    padding-left: 0;
    padding-right: 0;
}

.scroll {
    height: 100%;
    background: #83899a;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.scroll-btn-block {
    position: relative;
    display: flex;
    gap: 12px;
    z-index: 2;
}

.test-questions-scroll-block {
    overflow: hidden;
    margin-left: 12px;
    margin-right: 12px;
}

.test-questions-block {
    display: flex;
    gap: 12px;
    transition: transform 0.2s ease-out;
}

.btn-question {
    position: relative;
    width: 52px;
    padding: 6px 0;
    color: #333;
    border: 1px solid #b9c1cc;
    border-radius: 10px;
    background-color: #f3f7fa;
}

.btn-question:hover {
    background-color: #fff;
}

.btn-question.selected {
    border: 2px solid #333 !important;
    background: #fff;
}

.btn-question-wrong,
.btn-answer-wrong {
    border: 1px solid #e4615d;
    background-color: #e4615d !important;
    color: #fff !important;
}

.btn-question-right,
.btn-answer-right {
    border: 1px solid #6cdb9b !important;
    background-color: #6cdb9b !important;
    color: #fff !important;
}

.test-config {
    display: flex;
    gap: 33px;
}

.circle-btn {
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #a6a6a6;
    background-color: #f4f7fa;
    cursor: pointer;
}

.circle-btn:hover {
    border: 1px solid #828282;
    background-color: #f7f7f7;
}

.pause-icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 6px;
}

.pause-icon i {
    width: 4px;
    height: 20px;
    background-color: #a6a6a6;
}

.btn-reset::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 33px;
    background: url("../assets/reset_btn.svg") 0 0 no-repeat;
    background-size: 32px 32.5px;
}

.question-title {
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 26px;
}

.question-info {
    display: flex;
    margin-bottom: 50px;
    gap: 33px;
    align-items: flex-start;
    justify-content: space-between;
}

.btn-block-ver {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.btn-answer {
    max-height: 100%;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    text-align: start;
    background-color: #fff;
    border-radius: 10px;
}

.btn-answer:hover {
    background-color: #f4f7fa;
}

.btn-answer:disabled {
    max-height: 100%;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    text-align: start;
    background-color: #fff;
    border-radius: 10px;
}

.image {
    width: 70%;
    height: auto;
    border: 1px solid #bec1cc;
    border-radius: 5px;
}

.help-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0;
    gap: 24px;
    flex-wrap: wrap;
}

.help-slider {
    flex-basis: calc(50% - 12px);
    width: 100%;
    height: auto;
    padding: 10px 15px !important;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    background-color: #f3f7fa;
    cursor: pointer;
}

.help-block:has(.help-slider:only-child) .help-slider {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.help-slider-content {
    padding-top: 10px;
    max-height: 1000px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.help-slider-content p {
    margin-bottom: 10px;
}

.help-slider-content a {
    color: #333;
}

.help-slider-content a:hover {
    color: gray;
}

.iframe-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 7px;
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog {
    position: absolute;
    width: 420px;
    top: 50%;
    left: 50%;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 12;
}

.dialog-title {
    margin-bottom: 30px;
    text-align: center;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}
